log4j.configuration=file://${distribute.home}/config/distribute.log.properties
inventory.hibernate.config.file=${distribute.home}/config/hibernate.cfg.xml
gov.nasa.podaac.inventory.factory=gov.nasa.podaac.distribute.common.wsm.Query
#gov.nasa.podaac.inventory.factory=gov.nasa.podaac.distribute.common.direct.Query
#
inventory.ws.url=https://lanina
inventory.ws.port=9192
inventory.ws.user=thuang
inventory.ws.password=password
#
distribute.schemas=${distribute.home}/config/schemas
distribute.granule.file.size=100
distribute.data.location=${distribute.data.location}
echo.ftp.collection.destination=${echo.ftp.collection.destination}
echo.ftp.granule.destination=${echo.ftp.granule.destination}
echo.ftp.username=${echo.ftp.username}
echo.ftp.password=${echo.ftp.password}
gcmd.data.location=${distribute.home}/gcmd
gcmd.iso.topic.category=Oceans
gcmd.location.category=Geographic Region
gcmd.idn.node.short.name=USA/NASA
gcmd.contact.address.line.1=Jet Propulsion Laboratory
gcmd.contact.address.line.2=4800 Oak Grove Drive
gcmd.contact.city=Pasadena
gcmd.contact.province.or.state=CA
gcmd.contact.postal.code=91109
gcmd.contact.country=USA
